{% extends 'layout.html' %}

{% block title %}CodingThunder - About{% endblock title %}

{% block body %}
<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/images/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Us</h1>
          <span class="subheading">Below is what we do to enhance your knowledge in Technical World.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          We Provides : Latest Blogs and Technical Blogs to help new people
          in Technical world can easily read our blogs and learn something new in every blog!
        </p>
        Our Goal : is to aware people about new kind of technogies stuff and new TechStacks!! and to
        some amazing blogs. We are no.1 in coding blogs and also at no.5 in technology blogs!
        <p>
          So you want to learn and deep dive into Technical world. So Lets enroll in our free & paid courses(with free trial)
          and you will learn alot from us like Parveen, Kannu, Ahana, Saiyansh are the top course buyer and they all get jobs
          in big tech giants with the packages of upto 1 crore per anum!! So that's your choice!
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock body %}
